@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand&display=swap');

.jeux {
  margin: 2rem auto;
  width: 80%;

  &_titre, &_tentative {
    border-left: .5rem solid #424242;
    border-right: .5rem solid #424242;
  }

  &_titre {
    text-align: center;
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    word-spacing: 1rem;
    color: white;
    background-color: #00695c;
    padding: 1rem 0;
  }

  &_tentative {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    background-color: #ffecb3;
    padding: 1rem 0 0;
    margin: 1rem auto;

    &--titre {
      color: #424242;
      font-weight: bolder;
    }

    &--form {
      margin: 1rem 0;

      .multiply {
        font-size: 3rem;
        word-spacing: 1rem;
        font-weight: bolder;
      }

      .multiply-a, .multiply-b {
      }

      p {
        padding: 0 1rem;

        .form-control {
          border-radius: 0;
          margin: 0 auto;
          text-align: center;
          font-weight: bold;
          font-size: 1.5rem;
          border-right: none;
          border-left: none;
          border-top: none;
        }
      }

      .alias {
        padding: 0 1rem;
        width: 15%;
        font-size: 1rem;

        .form-control {
          border-radius: 0;

          border-right: none;
          border-left: none;
          border-top: none;
        }
      }

      .valider {
        text-align: left;
        padding: .5rem 1rem;

        .btn {
          border-radius: 0;

          &-valider {
            background-color: #00695c;
            color: white;
          }
        }
      }
    }
  }
}